.wrapper {
    height: 58px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}
.info {
    flex: 1;
}
.name {
    font-size: 16px;
    font-weight: 600;
}
.check {
    font-size: 12px;
    margin-left: 6px;
    color: rgb(32, 213, 236);
}
.username {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}
